*{
  margin: 0;
  padding: 0;
  font-family: promo;
}

@font-face {
  font-family: promo;
  src: url(./static/fonts/PromoTest-Regular-BF63b7880272a33.otf);
}
@font-face {
  font-family: promo-medium;
  src: url(./static/fonts/PromoTest-Medium-BF63b78802b0fd1.otf);
}
@font-face {
  font-family: promo-normal;
  src: url(./static/fonts/PromoTest-Normal-BF63b78802deb68.otf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  height: 100vh;
  /* background-color: #fefae0; */
}

button{
  width: 100px;
  /* height: 50px; */
}


.promo-font{
  font-family: promo;
}
.promo-normal{
  font-family: promo-normal;
}
.logo-container{
  margin: 3rem;
  width: 30rem;
  height: auto;
}

.logo-container img{
  width: 100%;
  height: auto;
}

.home-container{
  /* background-color: #fefae0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container{
  /* background-color: #faedcd; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 0 0; */
  /* padding: 0; */
}
.container1{
  /* background-color: #e9edc9; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container2{
  /* background-color: #ccd5ae; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container3{
  /* background-color: #D4a373; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.container4{
  /* background-color: #F2debb; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container5{
  /* background-color: #bdc79e; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.primary-color{
  background-color: #fefae0;
}
.secondary-color{
  background-color: #e9edc9;
}
.tertiary-color{
  background-color: #F2debb;
}
.white{
  background-color: white;
}
.white-text{
  color: white;
}
.off-white{
  background-color: hsl(0, 0%, 95%);
}
.green{
  background-color: #79d9af;
  color: #79d9af;
}
.green-text{
  color: #79d9af;
}

/* -------------- Nav ------------ */
Nav{
  font-weight: bold;
}
.nav-white-font{
  font-family: promo-medium;
  color: white;
}

/* ----------------AUTHENTICATION------------------ */
.signup-page{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 5%;
}
.authentication-container{
  border-radius: 5px;
  padding: 3% 0 3%;
  border: solid lightgray 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* ------------- PlantSearch ---------- */
.search-header{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 0 5vh;
}

.searchbar{
  width: 80vw;
}

.results-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2% 0 0;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  isolation: isolate; */
}

.card{
  height: 50vh;
  width: 40vh;
  min-Width: 200px;
  margin: 5px;
  border: solid lightgray 1px;
  border-radius: 0;
}

.card-link{
  text-decoration: none;
}

/* SPECIES PAGE */

.species-header{
  margin: 2% 5% 2%;
}
.species-image-container{
  height: auto;
  /* background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  /* background-color: grey; */
}
.species-image-container img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/* .species-info-container{
  background-color: ;
} */

.grid-even-columns{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  margin: 0 5% 0;
}

@media only screen and (max-width: 550px){
  .grid-even-columns{
    display: grid;
    grid-template-columns: 1fr;
  }
}